.heading-1{
  font-size: 60px;
  font-weight: lighter;
  color: $color-primary-dark-blue;
}
.heading-2{
  font-size: 38px;
  font-weight: 400;
  color: $color-primary-dark-blue;
}
.heading-3{
  font-size: 35px;
  font-weight: 400;
  color: $color-primary-dark-blue;
}
.heading-4{
  font-size: 22px;
  font-weight: 400;
  color: $color-primary-dark-blue;
}


.paragraph-1{
  font-size: 20px;
  line-height: 30px;
  color: $color-grayish-blue;
}
.paragraph-2{
  font-size: 18px;
  line-height: 28px;
  color: $color-grayish-blue;
}





























