$mobile-size: 375px;
$desktop-size: 1440px;
$desktop-size-md: 1600px;
$desktop-size-lg: 1920px;

$color-primary-dark-blue: #2D314DFF;
$color-primary-lime-green: #31D35CFF;
$color-primary-bright-cyan: #2BB7DAFF;

$color-grayish-blue: #9698A6FF;
$color-light-grayish-blue: #F3F4F6FF;
$color-very-light-gray: #FAFAFAFF;
$color-white: #fff;

$font-body: 18px;

$font-family: 'Public Sans', sans-serif;